@model SV21T1020546.Shop.Models.ProductSearchResult
@{
    Layout = null;
}


<div class="gird">
    @foreach (var item in Model.Data)
    {
        <div class="col-4">
            <a href="/ProductDetail/Index/@item.ProductID">
                <div class="product_image">
                    <img src="@(string.IsNullOrEmpty(item.Photo)
    ? "http://localhost:45443/images/products/nophoto.png"
    : $"http://localhost:45443/images/products/{item.Photo}")"
                         style="width:100%" alt="" />
                </div>
                <div class="product_desc">
                    <h4>@item.ProductName</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>@item.Price</p>
                </div>
            </a>
        </div>
    }
</div>
<div class="text-center">
    <ul class="pagination">
        @for (int p = 1; p <= Model.PageCount; p++)
        {
            if (p == Model.Page)
            {
                <li class="active"><a href="#">@p</a></li>
            }
            else
            {
                <li><a href="javascript:;" onclick="doSearch(@p)">@p</a></li>
            }
        }
    </ul>
</div>