@model SV21T1020546.DomainModels.Customer

<main class="flex main">
    <div class="col-md-2">
        <div class="box" style="display: flex; flex-direction: column; gap: 10px;">
            <a href="/Account" class="sidebar_item @(Url.ActionContext.HttpContext.Request.Path.StartsWithSegments("/Account") ? "active" : "")">Tài khoản</a>
            <a href="/Invoice" class="sidebar_item @(Url.ActionContext.HttpContext.Request.Path.StartsWithSegments("/Invoice") ? "active" : "")">Đơn mua</a>
            <a href="/ChangePassword" class="sidebar_item @(Url.ActionContext.HttpContext.Request.Path.StartsWithSegments("/Account/ChangePassword") ? "active" : "")">Đổi mật khẩu</a>
        </div>
    </div>
    <div class="box col--10">
        <div class="box-body">
            <form action="~/Account/Save" method="POST" class="form-horizontal">
                <input type="hidden"
                       name="@nameof(Model.CustomerID)"
                       value="@Model.CustomerID" />
                <div class="form-group">
                    <label class="col-sm-2 control-label">Tên khách hàng:</label>
                    <p class="form-control-static form-control-account col-sm-10">@Model.CustomerName</p>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Tên giao dịch:</label>
                    <p class="form-control-static form-control-account col-sm-10">@Model.ContactName</p>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Điện thoại:</label>
                    <p class="form-control-static form-control-account col-sm-10">@Model.Phone</p>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Email:</label>
                    <p class="form-control-static form-control-account col-sm-10">@Model.Email</p>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Địa chỉ:</label>
                    <p class="form-control-static form-control-account col-sm-10">@Model.Address</p>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Tỉnh/Thành:</label>
                    <p class="form-control-static form-control-account col-sm-10">@Model.Province</p>
                </div>

                <div class="form-group text-right">
                    <a href="~/Account/Edit" class="btn btn-primary">Chỉnh sửa</a>
                </div>
            </form>
        </div>
    </div>
</main>
