@model SV21T1020546.DomainModels.Order

<main class="flex main">
    <div class="col-md-2">
        <div class="box" style="display: flex; flex-direction: column; gap: 10px;">
            <a href="/Account" class="sidebar_item @(Url.ActionContext.HttpContext.Request.Path.StartsWithSegments("/Account") ? "active" : "")">Tài khoản</a>
            <a href="/Invoice" class="sidebar_item @(Url.ActionContext.HttpContext.Request.Path.StartsWithSegments("/Invoice") ? "active" : "")">Đơn mua</a>
            <a href="/ChangePassword" class="sidebar_item @(Url.ActionContext.HttpContext.Request.Path.StartsWithSegments("/Account/ChangePassword") ? "active" : "")">Đổi mật khẩu</a>
        </div>
    </div>
    <div class="col-md-10 box">
        <div class="box-body content">
            <div class="purchase_header">
                <h2>Chi tiết đơn hàng</h2>
                <div>
                    <span>MÃ ĐƠN HÀNG. @Model.OrderID</span> |
                    <span>Giao hàng thành công</span>
                </div>
            </div>
            <div class="purchase_content">
                <div class="purchase_top">
                    <div class="purchase_left">
                        <h3>Địa chỉ nhận hàng</h3>
                        <div>
                            <h4>@Model.CustomerName</h4>
                            <p>@Model.CustomerPhone</p>
                            <p>
                                @Model.CustomerAddress
                            </p>
                        </div>
                    </div>
                    <div class="purchase_right">
                        <div class="line"></div>
                        <div class="purchase_status">
                            <div class="purchase_time">@Model.OrderTime.ToString("dd/MM/yyyy HH:mm")</div>
                            <div class="purchase_status_desc">Đặt hàng</div>
                            <div class="circle"></div>
                        </div>
                        <div class="purchase_status">
                            <div class="purchase_time">@Model.AcceptTime?.ToString("dd/MM/yyyy HH:mm")</div>
                            <div class="purchase_status_desc">Shop đang chuẩn bị hàng</div>
                            <div class="circle"></div>
                        </div>
                        <div class="purchase_status">
                            <div class="purchase_time">@Model.ShippedTime?.ToString("dd/MM/yyyy HH:mm")</div>
                            <div class="purchase_status_desc">Đang giao hàng</div>
                            <div class="circle"></div>
                        </div>
                        <div class="purchase_status">
                            <div class="purchase_time">@Model.FinishedTime?.ToString("dd/MM/yyyy HH:mm")</div>
                            <div class="purchase_status_desc">Hoàn thành</div>
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="purchase_bot">
                    <div class="purchase_product">
                        @{
                            var data = SV21T1020546.BusinessLayers.OrderDataService.ListOrderDetails(Model.OrderID);
                            decimal totalAmount = 0;
                            foreach (var item in data)
                            {
                                totalAmount += item.TotalPrice;
                            }
                        }
                        @foreach (var item in data)
                        {
                            <div class="purchase_product_item">
                                <div class="product">
                                    <img src="@(string.IsNullOrEmpty(@item.Photo)
    ? "http://localhost:45443/images/products/nophoto.png"
    : $"http://localhost:45443/images/products/{@item.Photo}")"
                                         style="width:100px" alt="" />
                                    <div class="desc">
                                        <h3>@item.ProductName</h3>
                                        <span>x@item.Quantity</span>
                                    </div>
                                </div>
                                <div class="price">@item.SalePrice.ToString("#,##0")</div>
                            </div>
                        }
                    </div>
                    <hr />
                    <div class="purchase_bottom">
                        <div class="total">
                            Thành tiền: <span class="">@totalAmount.ToString("#,##0")</span>
                        </div>
                        <div class="button">
                            <a class="btn" href="~/Invoice">Quay lại</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>