@model SV21T1020546.DomainModels.Order
@using SV21T1020546.DomainModels
@{
    ViewBag.Title = "Chi tiết đơn hàng";
}

<div class="box box-primary">
    <div class="box-header text-right">
        <div class="btn-group">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                    Xử lý đơn hàng <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="~/Order/Accept/@Model.OrderID" onclick="return confirm('Xác nhận duyệt chấp nhận đơn hàng này?')" class="@(Model.Status == Constants.ORDER_INIT ? "" : "btn-disable")">Duyệt đơn hàng</a></li>
                    <li><a href="~/Order/Shipping/@Model.OrderID" class="btn-modal @(Model.Status == Constants.ORDER_ACCEPTED || Model.Status == Constants.ORDER_SHIPPING ? "" : "btn-disable")">Chuyển giao hàng</a></li>
                    <li><a href="~/Order/Finish/@Model.OrderID" onclick="return confirm('Xác nhận đơn hàng đã hoàn tất thành công?')" class="@(Model.Status == Constants.ORDER_SHIPPING ? "" : "btn-disable")">Xác nhận hoàn tất đơn hàng</a></li>
                    <li class="divider"></li>
                    <li><a href="~/Order/Cancel/@Model.OrderID" onclick="return confirm('Xác nhận hủy đơn hàng này?')" class="@(Model.Status != Constants.ORDER_FINISHED ? "" : "btn-disable")">Hủy đơn hàng</a></li>
                    <li><a href="~/Order/Reject/@Model.OrderID" onclick="return confirm('Xác nhận từ chối đơn hàng này?')" class="@(Model.Status == Constants.ORDER_INIT || Model.Status == Constants.ORDER_ACCEPTED ? "" : "btn-disable")">Từ chối đơn hàng</a></li>
                </ul>
            </div>
            <a href="~/Order/Delete/@Model.OrderID" class="btn btn-sm btn-danger @(Model.Status == Constants.ORDER_INIT 
                                                                    || Model.Status == Constants.ORDER_CANCEL 
                                                                    || Model.Status == Constants.ORDER_REJECTED ? "" : "btn-disable")"
               onclick="return confirm('Có chắc chắn muốn xóa đơn hàng này không?')" style="margin: 0 5px;">
                                                                    <i class="fa fa-trash"></i> Xóa đơn hàng</a>
            <a href="~/Order" class="btn btn-sm btn-info">Quay lại</a>
        </div>
    </div>
    <div class="box-body form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2">Mã đơn hàng:</label>
            <div class="col-sm-4">
                <p class="form-control">@Model.OrderID</p>
            </div>
            <label class="control-label col-sm-2">Ngày lập đơn hàng:</label>
            <div class="col-sm-4">
                <p class="form-control">@Model.OrderTime.ToString("dd/MM/yyyy HH:mm")</p>
            </div>
            <label class="control-label col-sm-2">Nhân viên phụ trách:</label>
            <div class="col-sm-4">
                <p class="form-control">@Model.EmployeeName</p>
            </div>
            <label class="control-label col-sm-2">Ngày nhận đơn hàng:</label>
            <div class="col-sm-4">
                <p class="form-control">@Model.AcceptTime?.ToString("dd/MM/yyyy HH:mm")</p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Khách hàng:</label>
            <div class="col-sm-4">
                <p class="form-control">@Model.CustomerName</p>
            </div>
            <label class="control-label col-sm-2">Tên giao dịch:</label>
            <div class="col-sm-4">
                <p class="form-control">@Model.CustomerContactName</p>
            </div>
            <label class="control-label col-sm-2">Địa chỉ:</label>
            <div class="col-sm-10">
                <p class="form-control">@Model.CustomerAddress</p>
            </div>
            <label class="control-label col-sm-2">Email:</label>
            <div class="col-sm-10">
                <p class="form-control">@Model.CustomerEmail</p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Địa chỉ giao hàng:</label>
            <div class="col-sm-10">
                <p class="form-control">@Model.DeliveryAddress</p>
            </div>
            <label class="control-label col-sm-2">Tỉnh/thành:</label>
            <div class="col-sm-10">
                <p class="form-control">@Model.DeliveryProvince</p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Người giao hàng:</label>
            <div class="col-sm-4">
                <p class="form-control">@Model.ShipperName</p>
            </div>
            <label class="control-label col-sm-2">Điện thoại:</label>
            <div class="col-sm-4">
                <p class="form-control">@Model.ShipperPhone</p>
            </div>
            <label class="control-label col-sm-2">Nhận giao hàng lúc:</label>
            <div class="col-sm-4">
                <p class="form-control">@Model.ShippedTime?.ToString("dd/MM/yyyy HH:mm")</p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2">Trạng thái đơn hàng:</label>
            <div class="col-sm-4">
                <p class="form-control">@Model.StatusDescription</p>
            </div>
            <label class="control-label col-sm-2">Thời điểm hoàn tất:</label>
            <div class="col-sm-4">
                <p class="form-control">@Model.FinishedTime?.ToString("dd/MM/yyyy HH:mm")</p>
            </div>
        </div>
    </div>

    <div class="box-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <caption><h4>Danh sách mặt hàng thuộc đơn hàng</h4></caption>
                <thead>
                    <tr class="bg-primary">
                        <th class="text-center">STT</th>
                        <th class="text-center">Tên hàng</th>
                        <th class="text-center">ĐVT</th>
                        <th class="text-center">Số lượng</th>
                        <th class="text-center">Giá</th>
                        <th class="text-center">Thành tiền</th>
                        <th style="width:80px"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var data = SV21T1020546.BusinessLayers.OrderDataService.ListOrderDetails(Model.OrderID);
                        decimal totalAmount = 0;
                        int stt = 1; // Biến đếm cho số thứ tự
                        for (int i = 0; i < data.Count; i++)
                        {
                            var item = data[i];
                            totalAmount += item.TotalPrice;
                        }
                    }
                    @foreach (var item in data)
                    {
                        <tr>
                            <td class="text-center">@stt</td> <!-- Số thứ tự -->
                            <td>@item.ProductName</td>
                            <td class="text-center">@item.Unit</td>
                            <td class="text-center">@item.Quantity</td>
                            <td class="text-right">@item.SalePrice.ToString("#,##0")</td>
                            <td class="text-right">@item.TotalPrice.ToString("#,##0")</td>
                            <td class="text-right">
                                <a href="~/Order/EditDetail/@item.OrderID?productId=@item.ProductID" class="btn btn-xs btn-primary btn-modal @(Model.Status == Constants.ORDER_INIT || Model.Status == Constants.ORDER_ACCEPTED ? "" : "btn-disable")">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="~/Order/DeleteDetail/@item.OrderID?productId=@item.ProductID" class="btn btn-xs btn-danger @(Model.Status == Constants.ORDER_INIT || Model.Status == Constants.ORDER_ACCEPTED ? "" : "btn-disable")" onclick="return confirm('Xóa mặt hàng này khỏi đơn hàng?')">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        stt++; // Tăng số thứ tự sau mỗi dòng
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="5" class="text-right">Tổng cộng:</th>
                        <th class="text-right">@totalAmount.ToString("#,##0")</th>
                        <th></th>
                    </tr>
                </tfoot>

            </table>
        </div>
    </div>
</div>

<div id="dialogModal" class="modal fade" role="dialog">
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".btn-modal").click(function (e) {
                e.preventDefault();
                var link = $(this).prop("href");
                $.ajax({
                    url: link,
                    type: "GET",
                    error: function () {
                        alert("Your request is not valid!");
                    },
                    success: function (data) {
                        $("#dialogModal").empty();
                        $("#dialogModal").html(data);
                        $("#dialogModal").modal();
                    }
                });
            });
        })
    </script>
}