@model SV21T1020546.DomainModels.OrderDetail;
@using SV21T1020546.DomainModels;
@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <form action="~/Order/UpdateDetail/@Model.OrderID" method="post" class="form-horizontal" id="updateForm">
            <input type="hidden" name="@nameof(Model.ProductID)" value="@Model.ProductID" />
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cập nhật chi tiết đơn hàng</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label col-sm-3">Tên mặt hàng:</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">@Model.ProductName</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Đơn vị tính:</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">@Model.Unit</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Số lượng:</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" value="@Model.Quantity" name="@nameof(Model.Quantity)"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Giá bán:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control number-separator" value="@Model.SalePrice" name="@nameof(Model.SalePrice)" />
                    </div>
                </div>
                <div id="error" style="color: red;"></div>
            </div>
            <div class="modal-footer">
                 @{
                     var data = SV21T1020546.BusinessLayers.OrderDataService.GetOrder(Model.OrderID);
                 }
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-o"></i> Cập nhật
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Bỏ qua
                </button>
            </div>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.9/jquery.inputmask.min.js"></script>

<script>
    $(document).ready(function () {
        $('.number-separator').inputmask({
            alias: "numeric",
            groupSeparator: ",",       // Dấu phẩy phân cách phần nghìn
            autoGroup: true,           // Tự động thêm dấu phân cách
            digits: 0,                 // Không có chữ số thập phân
            removeMaskOnSubmit: true   // Loại bỏ ký tự phân cách phần nghìn khi submit form
        });
    })

    $(document).ready(function () {
        $("#updateForm").on("submit", function (e) {
            e.preventDefault();
            const form = $(this);
            const formData = form.serialize();

            $.ajax({
                url: `/Order/UpdateDetail/${@Model.OrderID}`,
                type: "POST",
                data: formData,
                success: function (data) {
                    if (data) {
                        $("#error").text(data);
                    } else {
                        window.location.href = `/Order/Details/${@Model.OrderID}`
                    }
                }
            });
        });
    });
</script>